:root {
  --negro: black;
  --blanco: white;
  --tipo-titular: 'Playfair Display', serif;
  --tipo-principal: 'Inter', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;

}

img , figure {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--negro);
  color: var(--blanco);
}


.circulos {
  position: fixed;
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;

  filter: blur(40px);
  animation: circulo1 50s linear infinite both


}
.circulos .circulo {
  position: absolute;
  width: 50%;
  height: 50%;
  animation: circulo1 50s linear infinite both

}

.circulos .circulo1 {
  top: 0%;
  left: 0%;
}


.circulos .circulo1 .path {
  fill: #2f2f2b;
}

.circulos .circulo2 {
  top: 0%;
  right: 0%;
}

.circulos .circulo2 .path {
  fill: #fe6f27;

}

.circulos .circulo3 {
  bottom: 0%;
  right: 0%;
}

.circulos .circulo3 .path {
  fill: #5a0f2e;

}

.circulos .circulo4 {
  bottom: 0%;
  left: 0%;
}

.circulos .circulo4 .path {
  fill: #ffa67e;

}

.header {
  width: 100%;
  min-height: 5em;

  padding: 1em 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  display: none;
}

.header .h1 {}

.header .h1 .a {}

.header .nav {}

.header .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header .li {
  margin: 0 1em;
}

.header .li .a {}


/*Seccion 1 - Inicio */
.main {
  background: rgba(0, 0, 0, 0.8);
  margin: 0 0 1em;
  text-align: center;
  position: relative;
  z-index: 2;
}

.seccion {
  width: 100%;
  min-height: 80vh;
  /* background: lightblue; */
  /* margin: 1em 0; */
  padding: 2em;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.seccion .info {
  font-size: 1.2em;
}

.seccion .ul {
  /* background: red; */
  margin: 2em 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}
.seccion .ul .li {
  /* background: chartreuse; */
  margin: 0 1em;
}
.section .ul .a{
  border: 2px solid rgba(255, 255, 255, .4);
  border-radius: 50%;
  padding: 1em 1em 1em;
  text-transform: uppercase;
  font-weight: 600;
}

.section .ul .a:hover{
  border-color: var(--blanco);
}

.seccion .h2 {
  font-family: var(--tipo-titular);
  font-weight: 600;
  font-size: 5em;
  line-height: 1em;
}

.seccion .h3 {
  font-family: var(--tipo-titular);
  font-weight: 300;
  font-size: 3.5em;
  /* font-style: italic; */
}

/* Sección 2 - Works */

.seccion .grid {
  width: 90%;
  max-width: 40em;
  margin: 1em 0;

  display: grid;
  grid-template-columns: repeat(auto-fit , minmax( 10rem, 1fr));
  gap: 1em;
}

.seccion .article {
  width: 100%;
  min-height: 20vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.seccion .figure {
  width: 100%;
  background: red;
}

.seccion .img {
  width: 100%;
  background: lime;
}

.seccion .h4 {
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, .5);
  backdrop-filter: blur(1rem);
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  color: var(--blanco);
  font-size: 1.5em;
  font-family: var(--tipo-titular);
  font-style: italic;
  opacity: 0;
  transform: translateZ(1) scale(1.2);
  transition: all .5s ease;

}

.seccion .article:hover .h4 {
  opacity: 1;
  transform: translateZ(1) scale(1);

}

.works {
  /* background: rgba(0, 0, 0, 0.707); */
  color: white;
}

.works .h2 {
  margin-bottom: 1rem;
}

/* Sección 3 - About */

.about .h2 {
  margin: 0 0 2rem;
}

.about .p {
  max-width: 40rem;
  margin: 0 0 2rem;
  font-size: 1.1em;
  text-align: left;
}

.about .rrss {
  width: 100%;
  /* background: lightgreen; */

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.about .li {
  /* background: orange; */
  margin: 0 1em;
}

.about .svg {
  width: 3em;
  height: 3em;
  /* background: red; */
}

.footer {
  color: var(--blanco);
  padding: 2em 0;
  text-align: center;
  position: relative;
  z-index: 2;
}
.footer .span {}

@keyframes circulo1 {
  from{
    transform: rotate(0deg) scale(2.5);
  }
  to{
    transform: rotate(360deg) scale(2.5);
  }
}
